title 2025 WNBA Forecast
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content="This WNBA forecast projects each team's chances of winning every game, advancing to the playoffs and winning the WNBA Finals.")
meta(name='author', content="Ryan Best")
meta(property="og:image" content=`https://ryanabest.com/2025-wnba-predictions/${require('../../images/share-image-2025.png')}?foo`)
meta(property="og:title" content="2025 WNBA Forecast")
meta(property="og:url" content="https://ryanabest.com/2025-wnba-predictions/")
meta(property="og:type" content="website")
meta(property="og:description" content="This WNBA forecast projects each team's chances of winning every game, advancing to the playoffs and winning the WNBA Finals.")
link(rel='shortcut icon', type='image/x-icon', href=`https://ryanabest.com/2025-wnba-predictions/${require('../../images/favicon.png')}`)
link(rel='icon', type='image/x-icon', href=`https://ryanabest.com/${require('../../images/favicon.png')}`)
meta(charset='UTF-8')

//- TWITTER CARD STUFF 
//- https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary-card-with-large-image
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@ryanabest")
meta(name="twitter:creator" content="@ryanabest")
meta(name="twitter:title" content="2025 WNBA Forecast")
meta(name="twitter:description" content="This WNBA forecast projects each team's chances of winning every game, advancing to the playoffs and winning the WNBA Finals.")
meta(property="twitter:image" content=`https://ryanabest.com/2025-wnba-predictions/${require('../../images/share-image-2025.png')}?foo`)